In [1]:
# dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
# reading in original CSV file
original_df = pd.read_csv("../Project4/healthcare-dataset-stroke-data.csv")

#showing first 10 rows of data
original_df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [3]:
# printing columns for the dataframe
print(original_df.columns)

# printing the data type for each colum
print(original_df.info())

#cleaning dataframe with dropping NA
original_df=original_df.dropna()

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None

In [4]:
# create a copy of the original dataframe 
stroke_df=original_df.copy()
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [5]:
# total percentage of stroke among all patients on record
total_number_patient=stroke_df["id"].count()
total_number_stroke=stroke_df["stroke"].sum()
stroke_percentage=total_number_stroke/total_number_patient*100
print("there are total "+ str(total_number_stroke) + " people had stroke")
print("there are " + str(round(stroke_percentage,2)) + " percent people had stroke among the patient list")

there are total 209 people had stroke
there are 4.26 percent people had stroke among the patient list

In [6]:
#undering standing the relationship between gender and stroke
gender_count=stroke_df.groupby(["gender"]).count()["id"]
gender_stroke_count=stroke_df.groupby(["gender"]).sum()["stroke"]
gender_stroke_df=pd.DataFrame({"count":gender_count,"stroke_count":gender_stroke_count,"stroke_percentage":gender_stroke_count/gender_count*100})
gender_stroke_df

        count  stroke_count  stroke_percentage
gender
Female   2897           120           4.142216
Male     2011            89           4.425659
Other       1             0           0.000000

In [7]:
#undering standing the relationship between age and stroke
bin_age=[0,20,40,60,80,100,200]
age_labels = ["0 to 20", "21 to 40", "41 to 60", "61 to 80", "81 to 100", "100+"]
stroke_df["age_group"]=pd.cut(stroke_df["age"], bin_age, labels=age_labels)

age_count=stroke_df.groupby(["age_group"]).count()["id"]
age_stroke_count=stroke_df.groupby(["age_group"]).sum()["stroke"]
age_stroke_df=pd.DataFrame({"count":age_count,"stroke_count":age_stroke_count,"stroke_percentage":age_stroke_count/age_count*100})
age_stroke_df

           count  stroke_count  stroke_percentage
age_group
0 to 20     1000             1           0.100000
21 to 40    1184             5           0.422297
41 to 60    1508            57           3.779841
61 to 80    1102           123          11.161525
81 to 100    115            23          20.000000
100+           0             0                NaN

In [8]:
#undering standing the relationship between hypertension and stroke
hypertension_count=stroke_df.groupby(["hypertension"]).count()["id"]
hypertension_stroke_count=stroke_df.groupby(["hypertension"]).sum()["stroke"]
hypertension_stroke_df=pd.DataFrame({"count":hypertension_count,"stroke_count":hypertension_stroke_count,"stroke_percentage":hypertension_stroke_count/hypertension_count*100})
hypertension_stroke_df

              count  stroke_count  stroke_percentage
hypertension
0              4458           149           3.342306
1               451            60          13.303769

In [9]:
#undering standing the relationship between heart_disease and stroke
heart_disease_count=stroke_df.groupby(["heart_disease"]).count()["id"]
heart_disease_stroke_count=stroke_df.groupby(["heart_disease"]).sum()["stroke"]
heart_disease_stroke_df=pd.DataFrame({"count":heart_disease_count,"stroke_count":heart_disease_stroke_count,"stroke_percentage":heart_disease_stroke_count/heart_disease_count*100})
heart_disease_stroke_df

               count  stroke_count  stroke_percentage
heart_disease
0               4666           169           3.621946
1                243            40          16.460905

In [10]:
#undering standing the relationship between ever_married and stroke
ever_married_count=stroke_df.groupby(["ever_married"]).count()["id"]
ever_married_stroke_count=stroke_df.groupby(["ever_married"]).sum()["stroke"]
ever_married_stroke_df=pd.DataFrame({"count":ever_married_count,"stroke_count":ever_married_stroke_count,"stroke_percentage":ever_married_stroke_count/ever_married_count*100})
ever_married_stroke_df

              count  stroke_count  stroke_percentage
ever_married
No             1705            23           1.348974
Yes            3204           186           5.805243

In [11]:
#undering standing the relationship between work_type and stroke
work_type_count=stroke_df.groupby(["work_type"]).count()["id"]
work_type_stroke_count=stroke_df.groupby(["work_type"]).sum()["stroke"]
work_type_stroke_df=pd.DataFrame({"count":work_type_count,"stroke_count":work_type_stroke_count,"stroke_percentage":work_type_stroke_count/work_type_count*100})
work_type_stroke_df

               count  stroke_count  stroke_percentage
work_type
Govt_job         630            28           4.444444
Never_worked      22             0           0.000000
Private         2811           127           4.517965
Self-employed    775            53           6.838710
children         671             1           0.149031

In [12]:
#undering standing the relationship between Residence_type and stroke
Residence_type_count=stroke_df.groupby(["Residence_type"]).count()["id"]
Residence_type_stroke_count=stroke_df.groupby(["Residence_type"]).sum()["stroke"]
Residence_type_stroke_df=pd.DataFrame({"count":Residence_type_count,"stroke_count":Residence_type_stroke_count,"stroke_percentage":Residence_type_stroke_count/Residence_type_count*100})
Residence_type_stroke_df

                count  stroke_count  stroke_percentage
Residence_type
Rural            2419           100            4.13394
Urban            2490           109            4.37751

In [13]:
# #undering standing the relationship between avg_glucose_level and stroke
bin_avg_glucose_level=[0,100,200,300,400]
avg_glucose_level_labels = ["0 to 100", "101 to 200", "201 to 300", "300+"]
stroke_df["avg_glucose_level_group"]=pd.cut(stroke_df["avg_glucose_level"], bin_avg_glucose_level, labels=avg_glucose_level_labels)

avg_glucose_level_count=stroke_df.groupby(["avg_glucose_level_group"]).count()["id"]
avg_glucose_level_stroke_count=stroke_df.groupby(["avg_glucose_level_group"]).sum()["stroke"]
avg_glucose_level_stroke_df=pd.DataFrame({"count":avg_glucose_level_count,"stroke_count":avg_glucose_level_stroke_count,"stroke_percentage":avg_glucose_level_stroke_count/avg_glucose_level_count*100})
avg_glucose_level_stroke_df

                         count  stroke_count  stroke_percentage
avg_glucose_level_group
0 to 100                  3030            93           3.069307
101 to 200                1488            67           4.502688
201 to 300                 391            49          12.531969
300+                         0             0                NaN

In [14]:
# #undering standing the relationship between bmi and stroke
bin_bmi=[0,20,40,60,80,100]
bmi_labels = ["0 to 20", "21 to 40", "41 to 60", "61 to 80","80+"]
stroke_df["bmi_group"]=pd.cut(stroke_df["bmi"], bin_bmi, labels=bmi_labels)

bmi_count=stroke_df.groupby(["bmi_group"]).count()["id"]
bmi_stroke_count=stroke_df.groupby(["bmi_group"]).sum()["stroke"]
bmi_stroke_df=pd.DataFrame({"count":bmi_count,"stroke_count":bmi_stroke_count,"stroke_percentage":bmi_stroke_count/bmi_count*100})
bmi_stroke_df

           count  stroke_count  stroke_percentage
bmi_group
0 to 20      537             3           0.558659
21 to 40    3964           188           4.742684
41 to 60     395            18           4.556962
61 to 80      11             0           0.000000
80+            2             0           0.000000

In [15]:
#undering standing the relationship between smoking_status and stroke
smoking_status_count=stroke_df.groupby(["smoking_status"]).count()["id"]
smoking_status_stroke_count=stroke_df.groupby(["smoking_status"]).sum()["stroke"]
smoking_status_stroke_df=pd.DataFrame({"count":smoking_status_count,"stroke_count":smoking_status_stroke_count,"stroke_percentage":smoking_status_stroke_count/smoking_status_count*100})
smoking_status_stroke_df

                 count  stroke_count  stroke_percentage
smoking_status
Unknown           1483            29           1.955496
formerly smoked    837            57           6.810036
never smoked      1852            84           4.535637
smokes             737            39           5.291723